{% extends 'baseUnlogged.html.twig' %}

{% block body %}
<div class="section">
    <div class="msg-welcome">
        <h1>Bonjour ! Bienvenue sur NEWB</h1>
        <p>
            NEWB est un réseau d'entrepreneur fait par des entrepreneurs.</br>
            Trouvez des collègues et notez les après vos projets.</br>
        </p>
    </div>
</div>
<div class="panel-section">
    <div class="panel eau">
        <p>Trouvez des personnalités</p>
    </div>
    <div class="panel pink">
        <p>Créez un projet</p>
    </div>
    <div class="panel red">
        <p>Notez votre expérience</p>
    </div>
</div>
{% endblock %}
