{% extends 'baseLogged.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <div class="project-section red">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
